---
---

<div
    class="rounded-md border-zinc-100 border p-4 hover:ring hover:ring-offset-2 hover:ring-offset-transparent hover:ring-[#7C3AED] hover:border-[#0B0F13] ring-zinc-800">
    <slot />
</div>
