---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Courses | Philosophy Distilled">
    <div
        style='width: 50px; height: 10000px; background-color: orange; position: absolute'>a</div>
    <div class='m-36'>aaaaaaaaaa</div>
    <div class='stick-you-fucker top-0 m-6'>
        <p class='text-red-500'>This should be sticky!</p>
    </div>
    <div class='m-36'>aaaaaaaaaa</div>
    <div class='m-36'>aaaaaaaaaa</div>
    <div class='m-36'>aaaaaaaaaa</div>
    <div class='m-36'>aaaaaaaaaa</div>
</Layout>

<style>
 .stick-you-fucker{
     position: sticky;
     top: 0;
 }
</style>
