---
import '../css/global.css';
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import { Blob, Navbar, Icon, Logo, Card, Footer, SkipToContent } from '../components';
import { readTimeMins, readTimeReadable } from '../util/readTime';

const courses = {
    'libertarian-ethics': {
        lessons: await getCollection('libertarian-ethics'),
    },
};
---

<Layout title="Courses | Philosophy Distilled" slug="courses">
    <SkipToContent href="#cards" />
    <Blob height={100} />
    <main class="bg-slate-900 text-slate-50 w-screen min-h-screen z-20 relative">
        <Navbar path="courses" />
        <Logo />
        <div
            class="gridlines overflow-hidden grid place-items-center blur-none p-[5vw] w-[100vw] min-h-[100vh]">
            <ul
                class="flex flex-row justify-center flex-wrap gap-6 lg:gap-8 w-[90vw] mb-32">
                <li class="text-sm">
                    <Card
                        href="/libertarian-ethics"
                        title="The Fundamentals of Libertarian Ethics"
                        img="/thumb-libertarian-ethics.png"
                        available="true"
                        button="go to course"
                        footer={readTimeReadable(
                            readTimeMins,
                            courses['libertarian-ethics'].lessons
                                .map(lesson => lesson.body)
                                .join('')
                        )}>
                        The single fastest route from novice to <span
                            class="emphasis pr-[0.03rem]">expert</span
                        > in Austrian legal theory.
                    </Card>
                </li>
                <li class="text-sm">
                    <Card
                        href=""
                        title="The Fundamentals of Austrian Economics"
                        img="/under-construction.png"
                    />
                </li>
                <li class="text-sm">
                    <Card
                        href=""
                        title="The Fundamentals of Objectivism"
                        img="/under-construction.png"
                    />
                </li>
            </ul>
        </div>
    </main>
    <Footer />
</Layout>
