---
import Layout from '../layouts/Layout.astro';
import { LazyImage } from '../components';
---

<Layout title="Courses | Philosophy Distilled">
    <div class="w-[500px] h-[500px]">
        <LazyImage slug="thumb/childrens-rights.webp" />
    </div>
</Layout>
