<!-- for some reason prettier decided that it would start removing closing <a> tags, so it is being ignored on this page. Of course if you are reading this by inspecting the source of the generated html you will see none of that stuff -->{
    (() => {
        // prettier-ignore
        return (<>
Oh, hello there! I have decided not to make this page yet
(I may decide to never do this, idk). But whilst you're here
    consider checking out the <a class="text-sky-500" href="/">
    homepage</a>, or maybe the <a class="text-sky-500" href="/courses">courses</a>!</>)
    })()
}
