<script>
 const blob = document.getElementById('blob-follow');

 document.body.onpointermove = e => {
     const { clientX, clientY } = e;

     blob.animate({
         left: `${clientX}px`,
         top: `${clientY}px`
     }, { duration: 3000, fill: 'forwards' })
 }
</script>

<div id='blob-follow' class='z-1'></div>
<div id='blob-main' class='-z-2 bg-gradient-to-r from-violet-900 to-fuchsia-900'></div>
<div id='blob-minor' class='-z-2 bg-gradient-to-r from-pink-900 to-rose-900'></div>
<img class='-z-2 absolute w-[300vmin] max-w-none right-[-90vmin]' src='tailwind-blur.png'/>
<div id='blur' class='-z-1 h-full w-full absolute'></div>

<style>
 #blur{
    backdrop-filter: blur(500vmax);
 }

 #blob-follow{
     background-color: white;
     height: 100px;
     aspect-ratio: 1;
     position: absolute;
     left: 50%;
     top: 50%;
     translate: -50% -50%;
 }

 #blob-main{
     height: 50vmax;
     aspect-ratio: 1;
     position: absolute;
     left: -5%;
     top: 50%;
     scale: 1.2 0.9;
     border-radius: 50%;
     animation: blob-rotate 20s infinite;
 }

 #blob-minor{
     height: 70vmax;
     aspect-ratio: 1;
     position: absolute;
     left: -40%;
     top: -60%;
     scale: 1.2 1.1;
     border-radius: 50%;
     animation: blob-rotate 20s infinite;
 }

 @keyframes blob-rotate {
     from {
         rotate: 0deg;
     }

     50% {
         scale: 1 1.3;
     }

     to {
         rotate: 360deg;
     }
 }
</style>
