---
const { noteList } = Astro.props;
---

<label for="default-search" class="mb-2 text-sm font-medium sr-only text-white"
    >Search</label
>
<div
    class="relative"
    style="box-shadow: inset 0 0 1rem -0.1rem rgba(0, 0, 0, 1);">
    <div
        class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
        <svg
            class="w-4 h-4 text-gray-400"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20">
            <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"></path>
        </svg>
    </div>
    <input
        type="search"
        id="default-search"
        class="focus:ring focus:ring-offset-2 focus:ring-offset-transparent focus:ring-[#7C3AED] block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-900 border-gray-600 placeholder-gray-400 text-white"
        placeholder="Fuzzy search"
    />
</div>
