<script>
    const scrollCoffee = document.getElementById('scrollCoffee');

    if (!!scrollCoffee) {
        function scrollSpy() {
            if (window.scrollY > 4000) {
                scrollCoffee.classList.add('show');
                scrollCoffee.classList.remove('hide');
            } else {
                scrollCoffee.classList.add('hide');
                scrollCoffee.classList.remove('show');
            }
        }

        window.addEventListener('scroll', scrollSpy);
        scrollSpy();
    }
</script>

<a
    id="scrollCoffee"
    class="hide duration-300 transition-all ease-in-out fixed bottom-5 right-[4.2rem] hover:right-[4.5rem] hover:scale-110"
    href="https://ko-fi.com/liquidzulu/tiers"
    target="_blank">
    <button
        class="h-10 flex content-center bg-slate-900 rounded-full py-0 px-2 border-none">
        <img class="h-full shrink" src="/kofi.png" />
        <p class="cubano h-full grid place-items-center mr-1">
            Get this course on video!
        </p>
    </button>
</a>

<style>
    .hide {
        @apply opacity-0 translate-y-8 hidden md:block scale-75;
    }
    .show {
        @apply md:opacity-100 md:translate-y-0 scale-100;
    }
</style>
