---
const { time, reverse, xtraClasses } = Astro.props;
---

<div class={`marquee ${!!xtraClasses ? xtraClasses : ''}`}>
    <ul
        style={`animation: scroll ${time} linear infinite;${
            !!reverse ? ' animation-direction: reverse;' : ''
        }`}
        class="marquee__content">
        <slot />
    </ul>
    <!-- Mirrors the content above -->
    <ul
        style={`animation: scroll ${time} linear infinite;${
            !!reverse ? ' animation-direction: reverse;' : ''
        }`}
        class="marquee__content"
        aria-hidden="true">
        <slot />
    </ul>
</div>

<style>
    .marquee {
        --gap: 1rem;
        display: flex;
        overflow: hidden;
        user-select: none;
        gap: var(--gap);
    }

    .marquee__content {
        flex-shrink: 0;
        display: flex;
        justify-content: space-around;
        min-width: 100%;
        gap: var(--gap);
    }

    @keyframes scroll {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(calc(-100% - var(--gap)));
        }
    }
</style>
